DOCKER_USERNAME=taithuynhatha1204
#Database
DB_USERNAME=sa
DB_PASSWORD=sa
DB_NAME=aiquizizz
#Backend
ASPNETCORE_ENVIRONMENT=Development
JWTSETTINGS__SECRETKEY=ENVYourVeryLongAndSecureSecretKeyHere1234567890
GOOGLESETTINGS_CLIENTID=
GOOGLESETTINGS_CLIENTSECRET=

#EMAIL
EMAILSETTINGS_SMTPPASS=

#cái này chỉ để chạy local (không docker)
CONNECTIONSTRINGS__DEFAULTCONNECTION=Server=127.0.0.1;Port=5555;Database=aiquizizz;Username=sa;Password=sa;
