DOCKER_USERNAME=taithuynhatha1204
#Database
DB_USERNAME=hello
DB_PASSWORD=1234
DB_NAME=tendb
#Backend
ASPNETCORE_ENVIRONMENT=Development
JWTSETTINGS__SECRETKEY=ENVYourVeryLongAndSecureSecretKeyHere1234567890

#local
CONNECTIONSTRINGS__DEFAULTCONNECTION=Server=127.0.0.1;Port=5555;Database=tendb;Username=hello;Password=1234;
