ASPNETCORE_ENVIRONMENT=
CONNECTIONSTRINGS__DEFAULTCONNECTION=Server=127.0.0.1;Port=5555;Database=AIQuizziz;Username=sa;Password=sa;
EMAIL_APP_PASSWORD=
CHATGPT_API_KEY=
JWTSETTINGS__SECRETKEY=ENVYourVeryLongAndSecureSecretKeyHere1234567890